# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Robusta-Backend-Hiring-Task\movies\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
